<!--<div class="ui-g">
    <div class="ui-g-6">
        <go-board></go-board>
    </div>
    <div class="ui-g-6">
        <go-control></go-control>
    </div>
</div>-->

<div class="main">
    <div class="control">
        <go-directory #directory [menuItems]="menuItems">
        </go-directory>
        <go-control [isFirst]="isFirst$|async" [isLast]="isLast$|async" [isNotInProblem]="isNotInProblem$|async" [problems]="problems$|async" (selectDirectory)="onSelectDirectory($event)" (redoProblem)="onRedoProblem()" (nextProblem)="onNextProblem()" (prevProblem)="onPrevProblem()">
        </go-control>
    </div>
    <div class="board">
        <go-board class="board" [textMarkups]="textMarkups$|async" [trMarkups]="trMarkups$|async" [msgs]="msgs$|async" [status]="boardStatus$|async" [stones]="stones$|async" [turn]="turn$|async" (boardClick)="onClick($event)">
        </go-board>
    </div>
</div>