<div class="container">

    <div class="item">
        <button type="button" [disabled]="isFirst" pButton icon="fa fa-backward" [label]="getPrevLable()" (click)="onPrevProblem()"></button>
    </div>
    <div class="item">
        <button type="button" [disabled]="isNotInProblem" pButton icon="fa fa-refresh" [label]="getRedoLable()" (click)="onRedoProblem()"></button>
    </div>
    <div class="item">
        <button type="button" [disabled]="isLast" pButton icon="fa fa-forward" [label]="getNextLable()" (click)="onNextProblem()"></button>
    </div>
</div>